<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--Notification permission after android 13 or higher-->

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.2024Updates"
        tools:targetApi="31">
        <activity
            android:name=".SplashLoginActivity"
            android:exported="true" >

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".unused.ChartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.UpdateListItemActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.CategorizedViewsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.journal.AddJournalActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">

        </activity>

        <receiver android:name=".ui.notifications.NotificationReceiver"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>